@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

/* Navbar Styling */
#menu-container #menu {
  transition: all 0.3s ease-in;
}

#menu-container:hover #menu {
  @apply flex flex-col top-[56px];
}

/* .theme-switcher-label {
  cursor: pointer;
}

.theme-switcher-label .switch-handle {
  display: flex;
  align-items: center;
}

.theme-switcher-label.active .light-text {
  display: none;
}

.theme-switcher-label:not(.active) .dark-text {
  display: none;
} */

.btn-transition {
  transition: all 0.5s ease-in-out;
}

body::-webkit-scrollbar,
#cartMenu::-webkit-scrollbar,
#productMenu::-webkit-scrollbar {
  @apply w-[5px] absolute right-0;
}

body::-webkit-scrollbar-track {
  @apply bg-slate-600;
}

body::-webkit-scrollbar-thumb{
  @apply bg-primary;
}

#cartMenu::-webkit-scrollbar-thumb,
#productMenu::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-lg;
}

#cartMenu::-webkit-scrollbar-track,
#productMenu::-webkit-scrollbar-track {
  @apply bg-slate-600 rounded-lg;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}